/* Ustawienia globalne */
body {
  font-family: "Salsa", cursive;;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

/* Główny kontener */
#main-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Nagłówek */
#title {
  font-size: 3.5rem;
  margin-top: 10px;
  display: flex;
  text-align: center;
  font-family: "Salsa", cursive;
}

/* Kontener Obrazka */
#image-container {
  margin: 5px auto;
  text-align: center;
  display: block
}

/* Obrazek okładki */
#cover-image {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto
}

/* Kontener odliczania*/
#countdown-container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap; /* Zezwól na zawinięcie elementów */
  justify-content: center;
}

/* Blok odliczania */
.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

/* Czcionka Cyfr odliczania */
.countdown-digit {
  font-size: 6rem;
  font-weight: normal;
  color: #32CD32;
}

/* Etykiety odliczania */
.countdown-label {
  font-size: 1rem; 
  font-weight: normal;
}

/* Kontener linków */
#links-container {
  margin: 15px auto;
  display: flex;
  align-items: center;
}

/* Linki */
#links-container a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0 30px;
  transition: color 0.2s ease-in-out;
  
  &:hover {
    color: #b803ff;
  }
}

/* Dodatkowe style */

#countdown-container {
  transition: opacity 0.5s ease-in-out;
}

#out-now-text {
  font-size: 3rem;
  font-weight: normal;
  color: #32CD32;
  text-align: center;
  margin: 20px auto;
  display: none; /* Początkowo ukryty */
}

.fadeIn {
  -webkit-animation: fadeIn 1s ease-in forwards; /* Starsze przeglądarki */
          animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Media Queries */
@media (max-width: 600px) {
  #title {
    font-size: 4rem;
  }
  .countdown-digit {
    font-size: 4rem;
  }
}
