/* Ustawienia globalne */
body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #000;
}

/* Główny kontener */
#main-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

/* Nagłówek */
#title {
  font-size: 3rem;
  margin-top: 10px;
  font-family: "Archivo Black", sans-serif; 
}

/* Kontener Obrazka */
#image-container {
  margin: 10px auto;
  text-align: center;
}

/* Obrazek okładki */
#cover-image {
  max-width: 75%; 
  height: auto; 
}

/* Kontener odliczania*/
#countdown-container {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap; /* Zezwól na zawinięcie elementów */
  justify-content: center; 
}

/* Blok odliczania */
.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px; 
}

/* Czcionka Cyfr odliczania */
.countdown-digit {
  font-size: 6rem;
  font-weight: normal;
  color: #32CD32;
}

/* Etykiety odliczania */
.countdown-label {
  font-size: 1rem; 
  font-weight: normal;
}

/* Kontener linków */
#links-container {
  margin: 20px auto;
  display: flex;
  align-items: center;
}

/* Linki */
#links-container a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
  margin: 0 30px; 
  transition: color 0.2s ease-in-out;
  
  &:hover {
    color: #b803ff;
  }
}

/*  Dodatkowe style  */

#countdown-container {
  transition: opacity 0.5s ease-in-out;
}

#out-now-link {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#countdown-container.hidden {
  opacity: 0;
}

#out-now-link.visible {
  opacity: 1;
}

#out-now-text {
  font-size: 3rem;
  font-weight: normal;
  color: #32CD32;
  text-align: center;
  margin: 20px auto;
  display: none;
}

/* Media Queries */
@media (max-width: 600px) {
  #title {
    font-size: 4rem;
  }
  .countdown-digit {
    font-size: 4rem;
  }
}
